@import "@/assets/styles/variables/variable";
@import "@/assets/styles/mixin/mixin";

.main-drawer {
    &__list {
        

        &-header {
            padding: 10px;
        }

        &-child {
            color: $text-color
        }

        &-item {
            @include flex-center;

            &:hover {
                background-color: $primary-color-light !important;
            }
        }
        &-item.active {
            background-color: $primary-color-light !important;
            border-right: 2px solid $primary-color-main;
            color: $primary-color-main;
            .main-drawer__list-icon {
                color: $primary-color-main;
            }
        }

        &-icon {
            min-width: 40px !important;
            // width: max-content;
            color: $text-color;
        }

        
    }
}